body{
    background-color: #DBD4CA;
    color: #585858;
    border: none;
}

/*Text container*/
.left{
    float: left;
}

.hide{
    width: 100%;
}

.show{
    width: 60%;
}

.blue{
    background-color: blue;
}

/*Text styling*/
.center-text{
    text-align: center;
}

.big-text{
    font-size: 4vw;
}

.med-text{
    font-size: 1.5vw;
}

.small-text{
    font-size: 1.5vw;
}

.tiny-text{
    font-size: 1vw;
}

/**/
.center-elem{
    display: grid;
    place-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 85%;
}


/*Side Image*/
#gothic{
    position: fixed;
    top: 0;
    width: 40%;
    height: auto;
}