body{
    background-color: #DBD4CA;
    color: #585858;
    border: none;
}

/*Text container*/
.left{
    float: left;
}

.hide{
    width: 100%;
}

.show{
    width: 60%;
}

.blue{
    background-color: blue;
}

/*Text styling*/
.center-text{
    text-align: center;
}

.big-text{
    font-size: 4vw;
}

.tiny-text{
    font-size: 1vw;
}

/**/
.center-elem{
    display: grid;
    place-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 80%;
}

/*Side Image*/
.right{
    width: 40%;
    float: right;
}

#church{
    aspect-ratio: 581 / 1104; 
    margin: -8px;
}